<!-- app.component.html -->
<div class="container">
  <header class="header">
    <h1>Loup Solitaire</h1>
    <!-- <div class="timer">Temps passé : {{ tempsPasse }}</div> -->
    <!-- Ajoutez un lecteur audio ici si nécessaire -->
  </header>

  <div class="main-content">
    <div class="pdf-viewer">
      <!-- Composant pour afficher le PDF -->
      <iframe width="100%" height="100%" src="pdf/LS01.pdf"> </iframe>
    </div>

    <div class="tabs-section">
      <mat-tab-group>
        <mat-tab label="Feuille d'Aventure">
          <app-feuille-aventure></app-feuille-aventure>
        </mat-tab>
        <mat-tab label="Combats">
          Combats
          <!--<app-resolveur-combats></app-resolveur-combats> -->
        </mat-tab>
        <mat-tab label="Notes">
          Notes
          <!-- <app-notes-joueur></app-notes-joueur> -->
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
